.root {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 90vh;
  margin-top:50px;
  font-family: Pretendard;
  overflow: hidden;

}

.backBtn {
  padding: 0 0 0 20px;
}
.body {
  display: flex;
  flex-direction: column;
  margin: 20px 0 0 30px;
  height: 90vh;
}

.confirmBtn {
  background-color: #046b40;
  width: 90vw;
  height: 6vh;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  color: #fff;
  border: none;
  font-family: Pretendard;
  font-size: 14px;
}

.bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
