@font-face {
    font-family: "pretendard";
    font-display: fallback;

    src: 
    url("./Pretendard-Bold.otf") format("opentype"),
    url("./Pretendard-Bold.woff") format("woff"),
    url("./Pretendard-Light.otf") format("opentype"),
    url("./Pretendard-Light.woff") format("woff"),
    url("./Pretendard-Regular.otf") format("opentype"),
    url("./Pretendard-Regular.woff") format("woff"),
    url("./Pretendard-Medium.otf") format("opentype"),
    url("./Pretendard-Medium.woff") format("woff"),;

    font-weight: 400;
    font-style: normal;
}
body {
    font-family: "pretendard", sans-serif; /* pretendard 폰트를 body 요소에 적용 */
}