.root {
  width: 100vw;
  height: 100vh;
  display: flex;
  font-weight: 600;
  font-size: 36px;
}
.ctn{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(calc(-5%));
  flex-direction: column;
}
.splashText{
  margin-top: 20px;
  color: #046b40;
font-family: 'Baloo Da 2', cursive;
}