.root {
  background-color: #046b40;
  width: 100vw;
  height: 100vh;
  display: flex;
  font-weight: 400;
  font-size: 36px;
}
.ctn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(calc(-5%));
  flex-direction: column;
}
.splashText {
  margin-top: 20px;
  color: #ffffff;
  text-shadow: 0px 4px 5px #000000;
  font-family: "Baloo Da 2", cursive;
}
